*{
  margin: 0%;
  padding: 0%;
}
html, body {
  /* font-size: 16px; */
  margin: 0%;
  padding: 0%;
  width: 100vw  ;
  height: 100vh;
  /* line-height: 1.7; */
  font-family: 'Fredoka', sans-serif;
  
}

#homepage{
    width: 100vw;
    height: 100vh;
    /* margin: 0px; */
    /* padding: 80vh 5vw 0vh 5vw; */
    display: flex;
    justify-content: center;
    align-items:flex-end;
    /* padding-bottom: 5vh; */
    box-sizing: border-box;
}

#colorsDiv{
    background-color: darkslategrey;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    border: none;
    border-radius: 12px;

    width: 90vw;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;

    margin-bottom: 20px;
     
}

.colorDiv{
    display: flex;
    height: 20px;
    width: 10rex;
    align-items: center;
    justify-content: center;

    border: 1px solid darkslategrey;
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;
}

#Black{
    color: white;
}

#Black:hover #homepage  {
    background-color: goldenrod;
}

#Default{
    background: white;
}