
@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans', sans-serif;
  src: url('assets/fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
  font-weight: 500;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  background: rgb(248, 245, 234);

  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  background: rgb(248, 245, 234);
}

/* ---------- */

#mainArea{
  background: rgb(248, 245, 234);
  margin: 0px 150px;
  height: 100%;

  display: flex;
  justify-content: center;
}


/* Posts ----------- */

#postArea{
  width: 50%;
}
.posts{
  /* background-color: #dfe6e9; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  padding: 10px;
}

.post{
  width: auto;
  background-color: white;
  color: #000; 
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  padding: 10px;
}

.postHeader{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profileImage{
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.profileDetails{
  font-size: 10px;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postTitle{
  font-weight: 600;
  font-size: 12px;
}
.postSubtitle{
  color: #555;
  font-size: 10px;
}

.postTime{
  color: #555;
  display: flex;
  display: flex;
  gap: 2px;
}

.clockImage{
  width: 10px;
  height: 10px;
  background-color: transparent;
  align-self: center;
}

.postDescription{
  font-size: 12px;
}


